<div class="panel panel-warning", style="margin: 10px 75px 0px">
  <div class="idea">
    <div class="panel-heading" style="background-color: khaki;">
      <%= link_to image_tag(get_image(idea.user), size: '50', class: 'img-thumbnail'), user_path(id: idea.user) %>
      <%= idea.user.name %>
      <div class="well"><%= simple_format(idea.body) %></div>
    </div>
    <div class="panel-body">
      いいね
      <% if already_liked? @idea %>
        <%= link_to like_path(id: @idea), method: :delete do %>
          <span class="fa fa-heart like-btn-unlike"><%= @idea.likes.count %></span>
        <% end %>
      <% else %>
        <%= link_to idea_likes_path(idea_id: @idea), method: :post do %>
          <span class="fa fa-heart like-btn"><%= @idea.likes.count %></span>
        <% end %>
      <% end %>
      <div style="float: right; color: gray; font-size: 16px;">
      <%= format_datetime(idea.created_at) %>
    </div>
    <div class="panel-footer" style="color: gray; font-size: 16px;">
      <% if idea.user_id == current_user.id %>
        <%= link_to '編集', edit_idea_path(id: idea.id) %>
        <%= link_to '削除', idea_path(id: idea.id), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
