<div class="panel panel-warning", style="margin: 10px 75px 0px; border-width: 2px; border-color: #8899a6;">
  <div class="idea">
    <div class="panel-heading" style="background-color: white;">
      <%= link_to image_tag(get_image(idea.user), size: '150', class: 'img-thumbnail'), user_path(id: idea.user) %>
      <%= link_to idea.user.name, user_path(id: idea.user), style: 'color: #007B96; font-weight: 700;' %>
      <div><p class="normal"><%= simple_format(idea.body) %></p></div>
    </div>
    <div class="panel-body">
      いいね
      <div id="likes_buttons_<%= @idea.id %>">
        <%= render "likes/like", idea: @idea %>
      </div>
      <div style="float: right; color: gray; font-size: 16px;">
        <%= format_datetime(idea.created_at) %>
      </div>
    </div>
    <div class="panel-footer" style="color: gray;">
      <%= link_to 'ニーズへ', topic_path(id: @idea.topic), class: 'btn btn-primary', style: 'color: white; background-color: #00BABD;' %>
      <% if idea.user_id == current_user.id %>
        <div style="float: right;">
          <%= link_to edit_idea_path(id: idea.id) do %>
            <span class="fa fa-edit"></span>
          <% end %>
          <%= link_to idea_path(id: idea.id), method: :delete do %>
            <span class="fa fa-trash"></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
