<p>
  <%= inform_validation_errror(idea) %>
</p>
<div class="container">
  <div class="form-group col-xs-4">
    <%= form_for(idea, url: next_path) do |f| %>
      <%= f.label      :body %><br>
      <%= f.text_area  :body, class: 'form-control', placeholder: 'What\'s your Idea !?' %><br>

      <%= f.submit class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>
