<p>
  <%= inform_validation_errror(idea) %>
</p>
<div class="container">
  <div class="input_field_lg">
    <%= form_for(idea, url: next_path) do |f| %>
    <%= f.label      :body, "アイデア" %><br>
    <span class="count_textarea"></span>
    <%= f.text_area :body, id: '1', maxlength: '140', class: 'form-control', placeholder: 'What\'s your Idea !?' %>
    <div align="right">
      <% if local_assigns[:edit_flag].present? %>
      <%= f.submit class: 'btn btn-primary', style: 'background-color: #00BABD;' %>
      <% else %>
      <%= f.submit "投稿", class: 'btn btn-primary', style: 'background-color: #00BABD;' %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
  var textareaCountMax = 140;
  $('#1').bind('keydown keyup keypress change',function(){
    var thisValueLength = $(this).val().length;
    var countDown = (textareaCountMax)-(thisValueLength);
    $('.count_textarea').html(countDown);

    if(countDown < 0){
      $('.count_textarea').css({color:'#ff0000',fontWeight:'bold'});
      $('#1').css({background:'#ffcccc'});
    } else {
      $('.count_textarea').css({color:'#000000',fontWeight:'normal'});
      $('#1').css({background:'#ffffff'});
    }
  });

  $(window).load(function(){
    $('.count_textarea').html(textareaCountMax);
  });
});
</script>
