<div class="panel panel-warning">
  <div class="idea">
    <div class="panel-heading" style="background-color: khaki;">
      <%= link_to image_tag(get_image(idea.user), size: '50', class: 'img-thumbnail'), user_path(id: idea.user) %>
      <%= idea.user.name %>
      <span class="fa fa-heart" aria-hidden="true"><%= idea.likes.count %></span>
    </div>
    <div class="panel-body">
      Body:  <%= idea.body %>
    </div>
    <div class="panel-footer">
      <%= format_datetime(idea.created_at) %><br>
      <% if local_assigns[:show_create_user] %>
        created by:<%= link_to idea.user.name, user_path(id: idea.user) %><br>
      <% end %>
      <%= link_to "detail", idea_path(id: idea), class: 'btn btn-default btn-xs' %>
      <% if idea.user_id == current_user.id %>
        <%= link_to "edit", edit_idea_path(id: idea.id) %>
        <%= link_to "destroy", idea_path(id: idea.id), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
