<div class="panel panel-default", style="margin: 10px 75px 0px; border-width: 3px;">
  <div class="idea">
    <div class="panel-heading" style="background-color: white;">
      <div class="box">
        <ul>
          <li class="b-item1"><%= link_to image_tag(get_image(idea.user), size: '50', class: 'img-thumbnail'), user_path(id: idea.user) %></li>
          <li class="b-item2">
            <%= link_to idea.user.name, user_path(id: idea.user), style: 'font-size: 20px; color: #007B96; font-weight: 700;' %>
            <span style="float: right; padding-top: 2%;">
              <div id="likes_buttons_<%= idea.id %>">
                <%= render "likes/idea_like", idea: idea %>
              </div>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body">
        <div class="well"><p class="normal"><%= link_to simple_format(idea.body), idea_path(id: idea)%></p></div>
    </div>
  </div>
</div>
