<h1>Ideas#edit</h1>
<% @idea.errors.full_messages.each do |message| %>
  <div class="alert-danger">
    <%= message %><br>
  </div>
<% end %>
<p>
  <%= form_for(@idea) do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title, value: @idea.title %><br>
    <%= f.label :body %><br>
    <%= f.text_area :body, value: @idea.body %><br>
    <%= f.submit %>
  <% end %>
</p>
