<h1>Ideas#show</h1>
<p>Find me in app/views/ideas/show.html.erb</p>
<p>
  <%= render partial: 'ideas/idea', locals: { idea: @idea, show_create_user: true }, layout: 'ideas/frame' %>
  <% if already_liked? @idea %>
    <%= button_to 'Cancel', like_path(id: @idea), method: :delete, class: 'btn btn-default' %>
  <% else %>
    <%= button_to 'Like!', idea_likes_path(idea_id: @idea), class: 'btn btn-default' %>
  <% end %>

  <% if @idea.user_id == current_user.id %>
    <%= link_to "edit", edit_idea_path(id: @idea.id) %>
    <%= link_to "destroy", idea_path(id: @idea.id), method: :delete %>
  <% end %>

</p>
<p>
  <h3>Liked Users</h3>
  <% @idea.likes.each do |like| %>
    <%= render partial: 'users/user', locals: { user: like.user }, layout: 'users/frame' %>
  <% end %>
</p>
<%= link_to 'Back', topic_path(id: @idea.topic) %>
