<h1>Ideas#show</h1>
<p>Find me in app/views/ideas/show.html.erb</p>
<p>
  <%= @idea.title %><br>
  <%= @idea.body %>
  created by:
  <%= link_to @idea.user.name, user_path(id: @idea.user)%>
  <% if already_liked? @idea %>
    <%= link_to like_path(id: @idea), method: :delete do %>
      <span class="fa fa-heart like-btn-unlike"></span>
    <% end %>
  <% else %>
    <%= link_to idea_likes_path(idea_id: @idea), method: :post do %>
      <span class="fa fa-heart like-btn"></span>
    <% end %>

  <% end %>

  <% if @idea.user_id == current_user.id %>
    <%= link_to "edit", edit_idea_path(id: @idea.id) %>
    <%= link_to "destroy", idea_path(id: @idea.id), method: :delete %>
  <% end %>
  <%= @likes_count %>
</p>
<p>
  <h3>Liked Users</h3>
  <% @idea.likes.each do |like| %>
    <%= link_to like.user.name, user_path(id: like.user) %><br>
  <% end %>
</p>
<%= link_to 'Back', topic_path(id: @idea.topic) %>
