<div class="main">
  <div class="container-fluid">
    <div class="mandalart-wrapper">
      <h1><%= link_to "マンダラート", mandalarts_path %></h1>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <%= render partial: 'description' %>
      <div class="mandalart">
        <%= form_for(@simple_mandal, url: "/mandalarts/#{@simple_mandal.id}") do |f| %>
        <%= render partial: 'mandal_form', locals: { f: f } %>
        <% end %>
      </div>
      <div id="suggests">
        <%= render partial: 'suggest', locals: { suggestions: @suggestions } %>
      </div>
    </div>
    <%= render partial: 'sea_post' %>
  </div>
</div>
