<h1>Mandalarts#index</h1>
<hr>

<% @mandals.each do |mandal| %>
  <%= mandal.core %>
  <% for num in 1..8 %>
    <%= num %>
  <% end %>
  <br>
<% end %>

<p>
  <div class="row">
    <!-- 1 -->
    <%= show_sub_elem(1) %>
    <!-- 2 -->
    <%= show_sub_elem(2) %>
    <!-- 3 -->
    <%= show_sub_elem(3) %>
  </div>
</p>
<p>
  <div class="row">
    <!-- 4 -->
    <%= show_sub_elem(4) %>
    <!-- 5 -->
    <%= show_core_elem %>
    <!-- 6 -->
    <%= show_sub_elem(6) %>
  </div>
</p>
<p>
  <div class="row">
    <!-- 7 -->
    <%= show_sub_elem(7) %>
    <!-- 8 -->
    <%= show_sub_elem(8) %>
    <!-- 9 -->
    <%= show_sub_elem(9) %>
  </div>
</p>
<script>
 var directions = [
     [-1, -1], [0, -1],      [1, -1],
     [-1,  0], [null, null], [1,  0],
     [-1,  1], [0, 1],       [1,  1]
 ];
 
 function animeTest1(coreNum, value) {
     var coreStringForm = document.getElementById('5-' + coreNum);
     var subElems = document.getElementById(coreNum)
     coreStringForm.defaultValue = value;
     anime({
         targets: coreStringForm,
         translateX: 253 * directions[coreNum-1][0],
         translateY: 84  * directions[coreNum-1][1],
         easing:'easeOutCubic'
     });
     subElems.style.visibility = "";
     anime({
         delay:   500,
         targets: subElems,
         opacity: [0, 1]
     });
 }
</script>