<div class="main">
  <div class="container">
    <h1>マンダラート</h1>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <%= render partial: 'description' %>
    
    <div class="mandalart">
      <%= form_for(@simple_mandal, url: mandalarts_path) do |f| %>
      <!-- elem_1 -->
      <!-- <div class="row"> -->
      <div class="block">
        <%= f.text_area :elem_1_1 %>
        <%= f.text_area :elem_1_2 %>
        <%= f.text_area :elem_1_3 %>
        <%= f.text_area :elem_1_4 %>
        <div class="core"><%= f.text_area :elem_1_5 %></div>
        <%= f.text_area :elem_1_6 %>
        <%= f.text_area :elem_1_7 %>
        <%= f.text_area :elem_1_8 %>
        <%= f.text_area :elem_1_9 %>
      </div>
      <!-- elem_2 -->
      <div class="block">
        <%= f.text_area :elem_2_1 %>
        <%= f.text_area :elem_2_2 %>
        <%= f.text_area :elem_2_3 %>
        <%= f.text_area :elem_2_4 %>
        <div class="core"><%= f.text_area :elem_2_5 %></div>
        <%= f.text_area :elem_2_6 %>
        <%= f.text_area :elem_2_7 %>
        <%= f.text_area :elem_2_8 %>
        <%= f.text_area :elem_2_9 %>
      </div>
      <!-- elem_3 -->
      <div class="block">
        <%= f.text_area :elem_3_1 %>
        <%= f.text_area :elem_3_2 %>
        <%= f.text_area :elem_3_3 %>
        <%= f.text_area :elem_3_4 %>
        <div class="core"><%= f.text_area :elem_3_5 %></div>
        <%= f.text_area :elem_3_6 %>
        <%= f.text_area :elem_3_7 %>
        <%= f.text_area :elem_3_8 %>
        <%= f.text_area :elem_3_9 %>
      </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <div class="block">
        <%= f.text_area :elem_4_1 %>
        <%= f.text_area :elem_4_2 %>
        <%= f.text_area :elem_4_3 %>
        <%= f.text_area :elem_4_4 %>
        <div class="core"><%= f.text_area :elem_4_5 %></div>
        <%= f.text_area :elem_4_6 %>
        <%= f.text_area :elem_4_7 %>
        <%= f.text_area :elem_4_8 %>
        <%= f.text_area :elem_4_9 %>
      </div>
      <div class="block">
        <div class="core"><%= f.text_area :elem_5_1, onblur:"myFnc1(this);" %></div>
        <div class="core"><%= f.text_area :elem_5_2, onblur:"myFnc2(this);" %></div>
        <div class="core"><%= f.text_area :elem_5_3, onblur:"myFnc3(this);" %></div>
        <div class="core"><%= f.text_area :elem_5_4, onblur:"myFnc4(this);" %></div>
        <div class="corecore"><%= f.text_area :elem_5_5 %></div>
        <div class="core"><%= f.text_area :elem_5_6, onblur:"myFnc5(this);" %></div>
        <div class="core"><%= f.text_area :elem_5_7, onblur:"myFnc6(this);" %></div>
        <div class="core"><%= f.text_area :elem_5_8, onblur:"myFnc7(this);" %></div>
        <div class="core"><%= f.text_area :elem_5_9, onblur:"myFnc8(this);" %></div>
      </div>
      <div class="block">
        <%= f.text_area :elem_6_1 %>
        <%= f.text_area :elem_6_2 %>
        <%= f.text_area :elem_6_3 %>
        <%= f.text_area :elem_6_4 %>
        <div class="core"><%= f.text_area :elem_6_5 %></div>
        <%= f.text_area :elem_6_6 %>
        <%= f.text_area :elem_6_7 %>
        <%= f.text_area :elem_6_8 %>
        <%= f.text_area :elem_6_9 %>
      </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <div class="block">
        <%= f.text_area :elem_7_1 %>
        <%= f.text_area :elem_7_2 %>
        <%= f.text_area :elem_7_3 %>
        <%= f.text_area :elem_7_4 %>
        <div class="core"><%= f.text_area :elem_7_5 %></div>
        <%= f.text_area :elem_7_6 %>
        <%= f.text_area :elem_7_7 %>
        <%= f.text_area :elem_7_8 %>
        <%= f.text_area :elem_7_9 %>
      </div>
      <div class="block">
        <%= f.text_area :elem_8_1 %>
        <%= f.text_area :elem_8_2 %>
        <%= f.text_area :elem_8_3 %>
        <%= f.text_area :elem_8_4 %>
        <div class="core"><%= f.text_area :elem_8_5 %></div>
        <%= f.text_area :elem_8_6 %>
        <%= f.text_area :elem_8_7 %>
        <%= f.text_area :elem_8_8 %>
        <%= f.text_area :elem_8_9 %>
      </div>
      <div class="block">
        <%= f.text_area :elem_9_1 %>
        <%= f.text_area :elem_9_2 %>
        <%= f.text_area :elem_9_3 %>
        <%= f.text_area :elem_9_4 %>
        <div class="core"><%= f.text_area :elem_9_5 %></div>
        <%= f.text_area :elem_9_6 %>
        <%= f.text_area :elem_9_7 %>
        <%= f.text_area :elem_9_8 %>
        <%= f.text_area :elem_9_9 %>
      </div>
      <hr>
      <div class="pop">
        <%= button_tag type: 'submit', class: "save-btn" do %>
          <i class="far fa-save fa-4x"></i>
        <% end %>
        save
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'suggest', suggest_mandalart_path(simple_mandal: @simple_mandal), method: :post %>
</div>

<script>
function myFnc1(obj){
  document.getElementById( "simple_mandal_elem_1_5" ).value = obj.value ;
}
function myFnc2(obj){
  document.getElementById( "simple_mandal_elem_2_5" ).value = obj.value ;
}
function myFnc3(obj){
  document.getElementById( "simple_mandal_elem_3_5" ).value = obj.value ;
}
function myFnc4(obj){
  document.getElementById( "simple_mandal_elem_4_5" ).value = obj.value ;
}
function myFnc5(obj){
  document.getElementById( "simple_mandal_elem_6_5" ).value = obj.value ;
}
function myFnc6(obj){
  document.getElementById( "simple_mandal_elem_7_5" ).value = obj.value ;
}
function myFnc7(obj){
  document.getElementById( "simple_mandal_elem_8_5" ).value = obj.value ;
}
function myFnc8(obj){
  document.getElementById( "simple_mandal_elem_9_5" ).value = obj.value ;
}
</script>
