<h1>Mandalarts#new</h1>

<%= form_for(@simple_mandal, url: mandalarts_path) do |f| %>
  <h2>elem_1*</h2>
  <%= f.text_field :elem_1_1 %>
  <%= f.text_field :elem_1_2 %>
  <%= f.text_field :elem_1_3 %>
  <%= f.text_field :elem_1_4 %>
  <%= f.text_field :elem_1_5 %>
  <%= f.text_field :elem_1_6 %>
  <%= f.text_field :elem_1_7 %>
  <%= f.text_field :elem_1_8 %>
  <%= f.text_field :elem_1_9 %>
  <h2>elem_2*</h2>
  <%= f.text_field :elem_2_1 %>
  <%= f.text_field :elem_2_2 %>
  <%= f.text_field :elem_2_3 %>
  <%= f.text_field :elem_2_4 %>
  <%= f.text_field :elem_2_5 %>
  <%= f.text_field :elem_2_6 %>
  <%= f.text_field :elem_2_7 %>
  <%= f.text_field :elem_2_8 %>
  <%= f.text_field :elem_2_9 %>
  <h2>elem_3*</h2>
  <%= f.text_field :elem_3_1 %>
  <%= f.text_field :elem_3_2 %>
  <%= f.text_field :elem_3_3 %>
  <%= f.text_field :elem_3_4 %>
  <%= f.text_field :elem_3_5 %>
  <%= f.text_field :elem_3_6 %>
  <%= f.text_field :elem_3_7 %>
  <%= f.text_field :elem_3_8 %>
  <%= f.text_field :elem_3_9 %>
  <h2>elem_4*</h2>
  <%= f.text_field :elem_4_1 %>
  <%= f.text_field :elem_4_2 %>
  <%= f.text_field :elem_4_3 %>
  <%= f.text_field :elem_4_4 %>
  <%= f.text_field :elem_4_5 %>
  <%= f.text_field :elem_4_6 %>
  <%= f.text_field :elem_4_7 %>
  <%= f.text_field :elem_4_8 %>
  <%= f.text_field :elem_4_9 %>
  <h2>elem_5*</h2>
  <%= f.text_field :elem_5_1 %>
  <%= f.text_field :elem_5_2 %>
  <%= f.text_field :elem_5_3 %>
  <%= f.text_field :elem_5_4 %>
  <%= f.text_field :elem_5_5 %>
  <%= f.text_field :elem_5_6 %>
  <%= f.text_field :elem_5_7 %>
  <%= f.text_field :elem_5_8 %>
  <%= f.text_field :elem_5_9 %>
  <h2>elem_6*</h2>
  <%= f.text_field :elem_6_1 %>
  <%= f.text_field :elem_6_2 %>
  <%= f.text_field :elem_6_3 %>
  <%= f.text_field :elem_6_4 %>
  <%= f.text_field :elem_6_5 %>
  <%= f.text_field :elem_6_6 %>
  <%= f.text_field :elem_6_7 %>
  <%= f.text_field :elem_6_8 %>
  <%= f.text_field :elem_6_9 %>
  <h2>elem_7*</h2>
  <%= f.text_field :elem_7_1 %>
  <%= f.text_field :elem_7_2 %>
  <%= f.text_field :elem_7_3 %>
  <%= f.text_field :elem_7_4 %>
  <%= f.text_field :elem_7_5 %>
  <%= f.text_field :elem_7_6 %>
  <%= f.text_field :elem_7_7 %>
  <%= f.text_field :elem_7_8 %>
  <%= f.text_field :elem_7_9 %>
  <h2>elem_8*</h2>
  <%= f.text_field :elem_8_1 %>
  <%= f.text_field :elem_8_2 %>
  <%= f.text_field :elem_8_3 %>
  <%= f.text_field :elem_8_4 %>
  <%= f.text_field :elem_8_5 %>
  <%= f.text_field :elem_8_6 %>
  <%= f.text_field :elem_8_7 %>
  <%= f.text_field :elem_8_8 %>
  <%= f.text_field :elem_8_9 %>
  <h2>elem_9*</h2>
  <%= f.text_field :elem_9_1 %>
  <%= f.text_field :elem_9_2 %>
  <%= f.text_field :elem_9_3 %>
  <%= f.text_field :elem_9_4 %>
  <%= f.text_field :elem_9_5 %>
  <%= f.text_field :elem_9_6 %>
  <%= f.text_field :elem_9_7 %>
  <%= f.text_field :elem_9_8 %>
  <%= f.text_field :elem_9_9 %>
  <hr>
  <%= f.submit %>
<% end %>
