<div class="main">
  <div class="container">
    <h1>マンダラート</h1>
    <div class="mandalart">
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_1_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_1_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_1_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_1_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_1_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_1_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_1_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_1_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_1_9} " %></textarea>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_2_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_2_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_2_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_2_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_2_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_2_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_2_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_2_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_2_9} " %></textarea>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_3_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_3_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_3_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_3_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_3_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_3_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_3_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_3_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_3_9} " %></textarea>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_4_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_4_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_4_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_4_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_4_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_4_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_4_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_4_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_4_9} " %></textarea>
      </div>
      <div class="block">
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_1} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_2} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_3} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_4} " %></textarea></div>
        <div class="corecore"><textarea disabled><%= "#{@simple_mandal.elem_5_5} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_6} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_7} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_8} " %></textarea></div>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_5_9} " %></textarea></div>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_6_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_6_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_6_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_6_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_6_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_6_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_6_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_6_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_6_9} " %></textarea>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_7_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_7_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_7_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_7_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_7_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_7_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_7_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_7_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_7_9} " %></textarea>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_8_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_8_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_8_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_8_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_8_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_8_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_8_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_8_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_8_9} " %></textarea>
      </div>
      <div class="block">
        <textarea disabled><%= "#{@simple_mandal.elem_9_1} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_9_2} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_9_3} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_9_4} " %></textarea>
        <div class="core"><textarea disabled><%= "#{@simple_mandal.elem_9_5} " %></textarea></div>
        <textarea disabled><%= "#{@simple_mandal.elem_9_6} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_9_7} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_9_8} " %></textarea>
        <textarea disabled><%= "#{@simple_mandal.elem_9_9} " %></textarea>
      </div>
    </div>
  </div>
</div>
