<h1>Mandalart#show</h1>

<%= "#{@simple_mandal.elem_1_1} " %><%= "#{@simple_mandal.elem_1_2} " %><%= "#{@simple_mandal.elem_1_3} " %><br>
<%= "#{@simple_mandal.elem_1_4} " %><%= "#{@simple_mandal.elem_1_5} " %><%= "#{@simple_mandal.elem_1_6} " %><br>
<%= "#{@simple_mandal.elem_1_7} " %><%= "#{@simple_mandal.elem_1_8} " %><%= "#{@simple_mandal.elem_1_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_2_1} " %><%= "#{@simple_mandal.elem_2_2} " %><%= "#{@simple_mandal.elem_2_3} " %><br>
<%= "#{@simple_mandal.elem_2_4} " %><%= "#{@simple_mandal.elem_2_5} " %><%= "#{@simple_mandal.elem_2_6} " %><br>
<%= "#{@simple_mandal.elem_2_7} " %><%= "#{@simple_mandal.elem_2_8} " %><%= "#{@simple_mandal.elem_2_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_3_1} " %><%= "#{@simple_mandal.elem_3_2} " %><%= "#{@simple_mandal.elem_3_3} " %><br>
<%= "#{@simple_mandal.elem_3_4} " %><%= "#{@simple_mandal.elem_3_5} " %><%= "#{@simple_mandal.elem_3_6} " %><br>
<%= "#{@simple_mandal.elem_3_7} " %><%= "#{@simple_mandal.elem_3_8} " %><%= "#{@simple_mandal.elem_3_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_4_1} " %><%= "#{@simple_mandal.elem_4_2} " %><%= "#{@simple_mandal.elem_4_3} " %><br>
<%= "#{@simple_mandal.elem_4_4} " %><%= "#{@simple_mandal.elem_4_5} " %><%= "#{@simple_mandal.elem_4_6} " %><br>
<%= "#{@simple_mandal.elem_4_7} " %><%= "#{@simple_mandal.elem_4_8} " %><%= "#{@simple_mandal.elem_4_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_5_1} " %><%= "#{@simple_mandal.elem_5_2} " %><%= "#{@simple_mandal.elem_5_3} " %><br>
<%= "#{@simple_mandal.elem_5_4} " %><%= "#{@simple_mandal.elem_5_5} " %><%= "#{@simple_mandal.elem_5_6} " %><br>
<%= "#{@simple_mandal.elem_5_7} " %><%= "#{@simple_mandal.elem_5_8} " %><%= "#{@simple_mandal.elem_5_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_6_1} " %><%= "#{@simple_mandal.elem_6_2} " %><%= "#{@simple_mandal.elem_6_3} " %><br>
<%= "#{@simple_mandal.elem_6_4} " %><%= "#{@simple_mandal.elem_6_5} " %><%= "#{@simple_mandal.elem_6_6} " %><br>
<%= "#{@simple_mandal.elem_6_7} " %><%= "#{@simple_mandal.elem_6_8} " %><%= "#{@simple_mandal.elem_6_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_7_1} " %><%= "#{@simple_mandal.elem_7_2} " %><%= "#{@simple_mandal.elem_7_3} " %><br>
<%= "#{@simple_mandal.elem_7_4} " %><%= "#{@simple_mandal.elem_7_5} " %><%= "#{@simple_mandal.elem_7_6} " %><br>
<%= "#{@simple_mandal.elem_7_7} " %><%= "#{@simple_mandal.elem_7_8} " %><%= "#{@simple_mandal.elem_7_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_8_1} " %><%= "#{@simple_mandal.elem_8_2} " %><%= "#{@simple_mandal.elem_8_3} " %><br>
<%= "#{@simple_mandal.elem_8_4} " %><%= "#{@simple_mandal.elem_8_5} " %><%= "#{@simple_mandal.elem_8_6} " %><br>
<%= "#{@simple_mandal.elem_8_7} " %><%= "#{@simple_mandal.elem_8_8} " %><%= "#{@simple_mandal.elem_8_9} " %><br>
<br>
<%= "#{@simple_mandal.elem_9_1} " %><%= "#{@simple_mandal.elem_9_2} " %><%= "#{@simple_mandal.elem_9_3} " %><br>
<%= "#{@simple_mandal.elem_9_4} " %><%= "#{@simple_mandal.elem_9_5} " %><%= "#{@simple_mandal.elem_9_6} " %><br>
<%= "#{@simple_mandal.elem_9_7} " %><%= "#{@simple_mandal.elem_9_8} " %><%= "#{@simple_mandal.elem_9_9} " %><br>
