<div class="main">
  <div class="container">
    <h1>アイデアの海</h1>

    <div class="add-idea">
      <%= inform_validation_errror(@sea) %>
      <%= form_for(@sea) do |f| %>
        <%= f.text_area :body %>
        <%= f.submit 'アイデア投稿' %>
      <% end %>
    </div>
    <% @seas.each do |sea| %>
    <div class="ideas-pannel">
      <%= link_to sea.body, sea_path(sea), class:'idea' %>
      <%= link_to image_tag(get_image(sea.user), size: '38', class: 'img-thumbnail'), user_path(id: sea.user) %>
      <%= link_to sea.user.name, user_path(id: sea.user), style: 'font-size: 20px; color: #007B96; font-weight: 500;', class:'user-name' %>
    </div>
    <% end %>
  </div>
</div>
