<div class="panel panel-default" style="margin: 10px 20px 10px; border-width: 2px; border-color: #00BABD;">
  <div class="topic">
    <div class="panel-heading" style="background-color: white">
      <div class="dtable">
        <div class="dtable_c">
          <%= link_to image_tag(get_image(topic.user), size: '150', class: 'img-thumbnail'), user_path(id: topic.user) %>
        </div>
        <div class="dtable_c" style="padding-left: 50px;">
          <ul>
            <li style="font-size: 20px;"><%= link_to topic.user.name, user_path(id: topic.user), style: 'color: #007B96; font-weight: 700;' %></li>
            <li class="well"><div class="word-break"><%= topic.title %></div></li>
          </ul>
          <%= "support: #{topic.support}" %>
          <% if @topic.user == current_user %>
            <%= render partial: 'support_form', locals: { topic: @topic } %>
          <% else %>
            <%= render partial: 'invests/create', locals: { topic: @topic }%>
            <%#= render partial: 'invests/edit', locals: { topic: @topic } %>
          <% end%>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="well"><%= simple_format(topic.body) %></div>
      <!--<%= link_to "アイデア新規投稿", new_topic_idea_path(topic_id: @topic), class: 'btn btn-default', style: 'color: white; background-color: #00BABD' %>-->
      <%= render partial: 'ideas/form_field', locals: { idea: @idea, next_path: topic_ideas_path(topic_id: @topic) } %>
      <span class="fa fa-comment"><%= topic.ideas.count %></span>
      <div style="float: right;">
        <% if topic.user_id == current_user.id %>
          <%= link_to edit_topic_path(id: topic.id) do %>
            <span class="fa fa-edit"></span>
          <% end %>
          <%= link_to topic_path(id: topic.id), method: :delete do%>
            <span class="fa fa-trash"></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="panel-footer">
      <%= render partial: 'ideas/simple', collection: @topic.ideas, as: 'idea' %>
    </div>
  </div>
</div>
