<div class="panel panel-success" style="margin: 10px 20px 10px">
  <div class="topic">
    <div class="panel-heading">
      <div class="dtable">
        <div class="dtable_c">
          <%= link_to image_tag(get_image(topic.user), size: '150', class: 'img-thumbnail'), user_path(id: topic.user) %>
          <%= link_to topic.user.name, user_path(id: topic.user)%>
        </div>
        <div class="dtable_c">
          <div class="title">
            <%= topic.title %>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="well"><%= simple_format(topic.body) %></div>
      <%= link_to "アイデア新規投稿", new_topic_idea_path(topic_id: @topic), class: 'btn btn-default', style: 'color: black; background-color: #00DFE3' %>
      <span class="fa fa-comment"><%= topic.ideas.count %></span>
      <div style="float: right;">
        <% if topic.user_id == current_user.id %>
          <%= link_to '編集', edit_topic_path(id: topic.id), class: 'btn btn-default', style: 'background-color: #dff0d8' %>
          <%= link_to '削除', topic_path(id: topic.id), method: :delete, class: 'btn btn-default', style: 'background-color: #dff0d8' %>
        <% end %>
      </div>
    </div>
    <div class="panel-footer">
      <%= render partial: 'ideas/simple', collection: @topic.ideas, as: 'idea' %>
    </div>
  </div>
</div>
