<p>
  <%= inform_validation_errror(topic) %>
</p>
<div class="smart-phone">
  <div class="form-group col-xs-4">
    <div class="form-size">
    <%= form_for(topic) do |f| %>
      <%= f.label :genre_id, 'ジャンル' %><br>
      <%= f.select :genre_id, options_for_select({'理想': 1, '問題': 2, 'その他': 3}), {}, class: 'form-control' %><br>
      <%= f.label :title, 'タイトル' %><br>
      <%= f.text_field :title, class: 'form-control', placeholder: 'タイトルを入力' %><br>
      <%= f.label :body, '本文' %>
      <span class="count_textarea"></span>
      <%= f.text_area :body, id: '1', class: 'form-control', placeholder: '本文を入力' ,cols: "20",rows: "5" ,maxlength: "140" %><br>

      <% if request.path_info == new_topic_path %>
        <%= f.submit "投稿", class: 'btn btn-primary', style: 'background-color: #00BABD;' %>
      <% else %>
        <%= f.submit class: 'btn btn-primary', style: 'background-color: #00BABD;' %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
  var textareaCountMax = 140;
  $('#1').bind('keydown keyup keypress change',function(){
    var thisValueLength = $(this).val().length;
    var countDown = (textareaCountMax)-(thisValueLength);
    if(countDown < 10){
      $('.count_textarea').html(countDown);
    } else {
      $('.count_textarea').html("");
    }

    if(countDown < 0){
      $('.count_textarea').css({color:'#ff0000',fontWeight:'bold'});
      $('#1').css({background:'#ffcccc'});
    } else {
      $('.count_textarea').css({color:'#000000',fontWeight:'normal'});
      $('#1').css({background:'#ffffff'});
    }
  });

  $(window).load(function(){
    $('.count_textarea').html(textareaCountMax);
  });
});
</script>
