<!--
<div class="panel panel-success" style="margin: 10px 75px 0px; border-width: 3px;">
  <div class="topic">
    <div class="panel-heading" style="background-color: white">
      <div class="box">
        <span class="fa fa-comment" style="float: right; padding-top: 2%;"><%= topic.ideas.count %></span></li>
      </div>
    </div>
    <div class="panel-body">
      <div class="b-item4"><span title="詳細ページへ"><%=link_to topic.title, topic_path(id: topic) %></span></div>
    </div>
  </div>
</div>
-->
<% if topic.ideas.count == 0 %>
<div class="needs-tile" style="float: left; background-color: rgba(100,100,100,0.5)">
<% else %>
<div class="needs-tile" style="float: left; background-color: rgba(32,178,170,0.9)">
<% end %>
    <div class="topic-title">
        <%= link_to topic.title, topic_path(id: topic) %>
        <div class="dodon">
            <span class="fa fa-comment" style="float: left; padding-top: 2%;"><%= topic.ideas.count %></span>
            <%= link_to topic.body, topic_path(id: topic), style: 'width: 100%; text-align: left;' %>
        </div>
    </div>
</div>
