<div class="panel panel-success" style="margin: 10px 75px 0px; border-width: 3px;">
  <div class="topic">
    <div class="panel-heading" style="background-color: white">
      <div class="box">
        <div class="b-item1"><%= link_to image_tag(get_image(topic.user), size: '50', class: 'img-thumbnail'), user_path(id: topic.user) %></div>
        <div class="b-item2"><%= link_to topic.title, topic_path(id: topic), style: 'width: 100%; text-align: left;',class: 'btn btn-default'%></div>
        <div class="b-item3"><span class="fa fa-comment"><%= topic.ideas.count %></span></div>
      </div>
    </div>
    <div class="panel-body">
      <div style="color: gray; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <%= link_to topic.body, topic_path(id: topic), style: 'width: 100%; text-align: left;',class: 'btn btn-default'%>
      </div>
    </div>
    <div class="panel-footer" style="text-align: right;">
      投稿日時：<%= format_datetime(topic.created_at) %>
      <% if topic.user_id == current_user.id %>
        <%= link_to edit_topic_path(id: topic.id) do %>
          <span class="fa fa-edit"></span>
        <% end %>
        <%= link_to topic_path(id: topic.id), method: :delete do%>
          <span class="fa fa-trash"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
