<div class="panel panel-success" style="margin: 10px 75px 0px">
  <div class="topic">
    <div class="panel-heading" style="background-color: #dff0d8">
      <%= link_to image_tag(get_image(topic.user), size: '50', class: 'img-thumbnail'), user_path(id: topic.user) %>      
      <%= link_to topic.title, topic_path(id: topic), class: 'btn btn-default', style: 'width: 80%; text-align: left;'%>
      <span class="fa fa-comment"><%= topic.ideas.count %></span>
    </div>
    <div class="panel-body">
      <div style="color: gray; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <%= simple_format(topic.body) %>
      </div>
    </div>
    <div class="panel-footer">
      <%= format_datetime(topic.created_at) %>
      <% if topic.user_id == current_user.id %>
        <%= link_to "edit", edit_topic_path(id: topic.id) %>
        <%= link_to "destroy", topic_path(id: topic.id), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
