<div class="panel panel-success">
  <div class="topic">
    <div class="panel-heading" style="background-color: #dff0d8">
      <%= link_to image_tag(get_image(topic.user), size: '50', class: 'img-thumbnail'), user_path(id: topic.user) %>      
      <%= link_to topic.title, "#topic-content-#{topic.id}", class: 'btn btn-default', data: { toggle: 'collapse' } %>
    </div>
    <%= content_tag :div, class: 'panel-collapse collapse', id: "topic-content-#{topic.id}" do -%>      
      <div class="panel-body">
        <%= topic.body %>
      </div>
      <div class="panel-footer">
        <%= format_datetime(topic.created_at) %><br>
        <% if local_assigns[:show_create_user] %>
          created by:<%= link_to topic.user.name, user_path(id: topic.user) %><br>
        <% end %>
        <% if topic.user_id == current_user.id %>
          <%= link_to "edit", edit_topic_path(id: topic.id) %>
          <%= link_to "destroy", topic_path(id: topic.id), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
