<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="main">
  <div class="cecntering" style="width: 1000px; margin: auto;">
    <div class="needs-index">
      <div class="p-3">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#tab1" class="nav-link" data-toggle="tab">新着</a></li>
          <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">理想</a></li>
          <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">問題</a></li>
          <li class="nav-item"><a href="#tab4" class="nav-link" data-toggle="tab">その他</a></li>
          <li class="nav-item"><a href="#tab5" class="nav-link active" data-toggle="tab">ポイント順</a></li>
          <li class="nav-item"><a href="#tab6" class="nav-link" data-toggle="tab">アイデア帳</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
            <%= render partial: 'topics/simple', collection: @topics, as: 'topic', layout: 'topics/list_frame' %>
          </div>
          <div class="tab-pane" id="tab2">
            <%= render partial: 'topics/simple', collection: @ideal_topics, as: 'topic', layout: 'topics/list_frame' %>
          </div>
          <div class="tab-pane" id="tab3">
            <%= render partial: 'topics/simple', collection: @trouble_topics, as: 'topic', layout: 'topics/list_frame' %>
          </div>
          <div class="tab-pane" id="tab4">
            <%= render partial: 'topics/simple', collection: @other_topics, as: 'topic', layout: 'topics/list_frame' %>
          </div>
          <div class="tab-pane active" id="tab5">
            <%= render partial: 'topics/simple', collection: @point_ordered_topics, as: 'topic', layout: 'topics/list_frame' %>
          </div>
          <div class="tab-pane" id="tab6">
            <%= render partial: 'seas/simple', collection: @seas, as: 'sea', layout: 'topics/list_frame' %>
          </div>
        </div>
      </div>
    </div>
    <div class="needs-right-space">
      <a href="/topics/new" class="btn btn-primary register"><i class="far fa-edit"></i>ニーズ新規投稿</a>
      <div class="explain-register">
        <p class="ex-title">ＳＮＳ について</p>
        <hr>
        <p class="ex-body">「<span>SNS</span>」では、<span>ニーズ</span>を解決する<span>アイデア</span>を集める場所です。<br>「<span>ニーズ</span>」とは、○○が欲しい！、○○で困ってる!といった課題のことです。<br>
          「<span>アイデア</span>」とは、ニーズを実現・解決するための案になります。<br>「<span>投資</span>」とは、ニーズに<span>ポイント</span>を与えることでより多くのユーザーの目に留まりやすくする方法です。<br>
          「<span>ポイント</span>」とは、ニーズにアイデアを投稿した時などに溜まるHelloIdeaの仮想通貨のことです。
        </p>
      </div>
      <div class="explain-memo">
        <p class="ex-title">アイデア帳 について</p>
        <hr>
        <p class="ex-body">「<span>アイデア帳</span>」には、ニーズに依存しないメモ書きやツールから創出されたアイデアが集まります。ニーズの実現・解決の糸口としてアイデア帳を活用してください。</p>
      </div>
      <div class="sea-post">
        <%= render partial: 'seas/post' %>
      </div>
    </div>
  </div>
</div>
