<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>
<p>
  <%= eval(topic_tag_toggle('ideal')) %>
  <%= eval(topic_tag_toggle('trouble')) %>
  <%= eval(topic_tag_toggle('other')) %>
  <% @topics.each do |topic| %>
    <%= topic.id %><br>
    <%= topic.title %><br>
    <%= topic.body %><br>
    <%= topic.genre_id %><br>
  <% end %>
</p>
<%= link_to '新規投稿', new_topic_path %>
