<h1>Topic#show</h1>
<p>
  <%= @topic.id %><br>
  <%= @topic.title %><br>
  <%= @topic.body %><br>
  <%= @topic.genre_id %><br>
</p>
<% @topic.ideas.each do |idea| %>
  <%= link_to idea.title, ideas_show_path, id: "#{idea.id}" %>
<% end %>
