<h1>Topic#show</h1>
<p>
  <%= @topic.id %><br>
  <%= @topic.title %><br>
  <%= @topic.body %><br>
  <%= @topic.genre_id %><br>
</p>
<%= link_to "アイデア新規投稿", controller: 'ideas', action: 'new',topic_id: "#{@topic.id}" %>
<% @topic.ideas.each do |idea| %>
  <%= link_to "#{idea.title}", topic_idea_path(@topic, idea) %>
<% end %>
