<div class="main">
  <div class="container" style="font-size: 30px;">
    「 <%= @word1.word %> ×　<%= @word2.word %> 」
    <br>
    <% @ideas.each do |idea| %>
      <%= idea.sea.body %>
      <%= idea.sea.user.name %>
      <br>
    <% end %>
    <%= link_to "ランダムワード", words_path %>
  </div>
</div>
