<div class="trophy">
  <div class="trophy-item">
    <% if !@user.topics.empty? %>
    <div class="attainment">
      <%= image_tag('needs_c1.png', :title=>"ニーズ初投稿") %>
    </div>
    <% else %>
    <div class="non-attainment">
      <%= image_tag('needs_g1.png', :title=>"ニーズ初投稿") %>
    </div>
    <% end %>
    <% if @user.topics.count >= 3 %>
    <div class="attainment">
      <%= image_tag('needs_c2.png', :title=>"ニーズ３つ投稿") %>
    </div>
    <% else %>
    <div class="non-attainment">
      <%= image_tag('needs_g2.png', :title=>"ニーズ３つ投稿") %>
    </div>
    <% end %>
    <% if @user.topics.count >= 5 %>
    <div class="attainment">
      <%= image_tag('needs_c3.png', :title=>"ニーズ５つ投稿") %>
    </div>
    <% else %>
    <div class="non-attainment">
      <%= image_tag('needs_g3.png', :title=>"ニーズ５つ投稿") %>
    </div>
    <% end %>
  </div>
  <div class="trophy-item">
    <% @user.topics.each_with_index do |topic, count| %>
      <% if topic.ideas.count >= 1 %>
        <div class="attainment">
          <%= image_tag('ideas_c1.png', :title=>"アナタのニーズにアイデアが投稿された") %>
        </div>
        <% break %>
      <% else %>
        <% if @user.topics.count == count+1 %>
          <div class="non-attainment">
            <%= image_tag('ideas_g1.png', :title=>"アナタのニーズにアイデアが投稿された") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% @user.topics.each_with_index do |topic, count| %>
      <% if topic.ideas.count >= 3 %>
        <div class="attainment">
          <%= image_tag('ideas_c2.png', :title=>"アナタのニーズにアイデアが３つ投稿された") %>
        </div>
        <% break %>
      <% else %>
        <% if @user.topics.count == count+1 %>
          <div class="non-attainment">
            <%= image_tag('ideas_g2.png', :title=>"アナタのニーズにアイデアが３つ投稿された") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% @user.topics.each_with_index do |topic, count| %>
      <% if topic.ideas.count >= 5 %>
        <div class="attainment">
          <%= image_tag('ideas_c3.png', :title=>"アナタのニーズにアイデアが５つ投稿された") %>
        </div>
        <% break %>
      <% else %>
        <% if @user.topics.count == count+1 %>
          <div class="non-attainment">
            <%= image_tag('ideas_g3.png', :title=>"アナタのニーズにアイデアが５つ投稿された") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="trophy-item">
    <% if !@user.ideas.empty? %>
    <div class="attainment">
      アイデア初投稿！
    </div>
    <% else %>
    <div class="non-attainment">
      アイデア初投稿！
    </div>
    <% end %>
    <% if @user.ideas.count >= 3 %>
    <div class="attainment">
      アイデアを３つ投稿！
    </div>
    <% else %>
    <div class="non-attainment">
      アイデアを３つ投稿！
    </div>
    <% end %>
    <% if @user.ideas.count >= 5 %>
    <div class="attainment">
      アイデアを5つ投稿！
    </div>
    <% else %>
    <div class="non-attainment">
      アイデアを5つ投稿！
    </div>
    <% end %>
  </div>
  <div class="trophy-item">
    <% @user.ideas.each_with_index do |idea, count| %>
      <% if idea.likes.count >= 1 %>
        <div class="attainment">
          投稿したアイデアがいいねされた！
        </div>
        <% break %>
      <% else %>
        <% if @user.ideas.count == count+1 %>
          <div class="non-attainment">
              投稿したアイデアがいいねされた！
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% @user.ideas.each_with_index do |idea, count| %>
      <% if idea.likes.count >= 3 %>
        <div class="attainment">
          投稿したアイデアが３人からいいねされた！
        </div>
        <% break %>
      <% else %>
        <% if @user.ideas.count == count+1 %>
          <div class="non-attainment">
            投稿したアイデアが３人からいいねされた！
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% @user.ideas.each_with_index do |idea, count| %>
      <% if idea.likes.count >= 5 %>
        <div class="attainment">
          投稿したアイデアが5人からいいねされた！
        </div>
        <% break %>
      <% else %>
        <% if @user.ideas.count == count+1 %>
          <div class="non-attainment">
            投稿したアイデアが5人からいいねされた！
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
