<div class="user">
  <% image_size = 100 unless local_assigns[:image_size] %>
  <div class="panel-body">
    <div class="dtable">
      <div class="dtable_c">
        <%= image_tag get_image(user), size: "#{image_size}", class: 'img-thumbnail' %>
      </div>
      <div class="dtable_c">
        <ul>
          <div style="margin-left: 15px; padding: 10px; width: 500px; border: solid 2px skyblue; border-radius: 9px; background-color: white;">
            <li><%= link_to_unless_current user.name, user_path(id: user) %></li>
            <!--<li><%= user.email %></li>-->
          </div>
          <%= user.point %> points
          <% if user == current_user %>
           <li> <%= link_to edit_user_path(id: user) do %>
              <div style="float: right;"><span class="fa fa-edit fa-2x "></span> 編集</div>
            <% end %></li>
          <% end %>
           <li> <% if current_user.admin? %>
            <%= link_to "delete", user_path(id: user), method: :delete, data: {confirm: "You sure?"} %>
          <% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
