<h1>User#edit</h1>
<div class="container">
  <div class="form-group col-xs-4">
    <%= form_for(@user) do |f| %>
      <%= f.label       :name %><br>
      <%= f.text_field  :name,  class: 'form-control' %><br>
      <%= f.label       :email %><br>
      <%= f.email_field :email, class: 'form-control' %><br>
      <%= f.label       :image %><br>
      <%= f.file_field  :image, class: 'btn btn-primary' %><br>
      
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
