<div class="main">
  <h1>User#edit</h1>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert-danger">
      <%= message %>
    </div>
  <% end %> 
  <p>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <%= message %>
      </div>
    <% end %>
  </p>
  <div class="container">
    <div class="form-group col-xs-4">
      <%= form_for(@user) do |f| %>
        Previous image.<br>
        <%= image_tag get_image(@user), size: '200', class: 'img-thumbnail' %><br>
        <%= f.file_field  :image, class: 'form-control-file', style: 'display:none;' %><br>
        <%= f.label       :image, :Change, class: 'btn btn-default active' %><br>
        <br>
        <%= f.label       :name %><br>
        <%= f.text_field  :name,  class: 'form-control' %><br>
        <%= f.label       :email %><br>
        <%= f.email_field :email, class: 'form-control' %><br>

        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>