<div class="main">
  <h1>Login</h1>
  <div class="container">
    <div class="form-group col-xs-4">
      <%= form_for(@user, url: login_path) do |f| %>
        <%= f.label      :email  %><br>
        <%= f.email_field :email, class: 'form-control' %><br>
        <%= f.label :password %>
        <%= f.password_field :password , class: 'form-control' %><br>

        <%= f.submit 'Login', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
