<h1>User#new</h1>
<p>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <%= form_for(@user) do |f| %>
    <%= f.label       :name %><br>
    <%= f.text_field  :name, class: 'form-group form-control' %><br>
    <%= f.label       :email %><br>
    <%= f.email_field :email, class: 'form-group form-control' %><br>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</p>
