<div class="main posts-new">
  <div class="container"> 
    <h1>User#new</h1>
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
    <p>
      <%= form_for(@user) do |f| %>
        <%= f.label       :name %><br>
        <%= f.text_field  :name %><br>
  
        <%= f.label       :email %><br>
        <%= f.email_field :email %><br>

        <%= f.submit %>    
      <% end %>
    </p>
  </div>
</div>
