<div class="main">
  <div class="padding">
    <h1>ユーザー詳細</h1>
    <%= render partial: 'users/user', locals: { user: @user, image_size: 200 }, layout: 'users/detail_frame' %>
    <div class="p-3">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#tab1" class="nav-link active" data-toggle="tab">投稿したニーズ　<span class="badge badge-primary"><%= @user.topics.count %></span></a></li>
        <li class="nav-item"><a href="#tab2" class="nav-link" data-toggle="tab">投稿したアイデア　<span class="badge badge-primary"><%= @user.ideas.count %></span></a></li>
        <li class="nav-item"><a href="#tab3" class="nav-link" data-toggle="tab">いいね　<span class="badge badge-primary"><%= @user.likes.count %></span></a></li>
        <li class="nav-item"><a href="#tab4" class="nav-link" data-toggle="tab">実績　</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <p>
            <% if @user.topics.empty? %>
              <div style="text-align: center; font-size: 30px;">
                <br>まだニーズを投稿していません<br><br>
                <% if @user == current_user %>
                <%= link_to 'ニーズを投稿してみる', topics_path, class: 'btn btn-primary btn-lg', style: 'background-color: #00BABD;' %>
                <% end %>
              </div>
            <% else %>
              <%= render partial: 'topics/simple', collection: @user.topics, as: 'topic', layout: 'topics/list_frame' %>
            <% end %>
          </p>
        </div>
        <div class="tab-pane" id="tab2">
          <p>
            <% if @user.ideas.empty? %>
              <div style="text-align: center; font-size: 30px;">
                <br>まだアイデアを投稿していません<br><br>
                <% if @user == current_user %>
                <%= link_to 'アイデアを投稿してみる', topics_path, class: 'btn btn-primary btn-lg', style: 'background-color: #00BABD;' %>
                <% end %>
              </div>
            <% else %>
              <%= render partial: 'ideas/simple', collection: @user.ideas, as: 'idea', locals: { tab_name: 'pub'}, layout: 'ideas/list_frame' %>
            <% end %>
          </p>
        </div>
        <div class="tab-pane" id="tab3">
          <p>
            <div id="likes_user_show_<%= @user.id %>">
              <%= render "likes/user_show", user: @user %>
            </div>
          </p>
        </div>
        <div class="tab-pane" id="tab4">
          <p>
            <div id="trophy_<%= @user.id %>">
              <%= render "trophy" %>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
