<p>
  <strong>名前:</strong>
  <%= @user.name  %>

  <strong>e-mail:</strong>
  <%= @user.email %>
</p>

<p>
  Your Topics<br>
  <%= render partial: 'topics/topic', collection: @user.topics %>
</p>
<p>
  Your Ideas<br>
  <% @user.ideas.each do |idea| %>
    <%= link_to idea.title, idea_path(id: idea) %><br>
  <% end %>
</p>
<p>
  <h3>Liked Ideas</h3>
  <% @user.likes.each do |like| %>
    <%= link_to like.idea.title, idea_path(id: like.idea) %><br>
  <% end %>
</p>
