<p>
  <strong>名前:</strong>
  <%= @user.name  %>

  <strong>e-mail:</strong>
  <%= @user.email %>
</p>

<p>
  Your Topics<br>
  <%= render partial: 'topics/topic', collection: @user.topics, layout: 'topics/frame' %>
</p>
<p>
  Your Ideas<br>
  <%= render partial: 'ideas/idea', collection: @user.ideas, layout: 'ideas/frame' %>
</p>
<p>
  <h3>Liked Ideas</h3>
  <% @user.likes.each do |like| %>
    <%= render partial: 'ideas/idea', locals: { idea: like.idea }, layout: 'ideas/frame' %>
  <% end %>
</p>
