<div class="top">
  <div class="main">
      <div class="top-image">
        <span style="color:dimgray; font-weight:bold; font-size:30px;">Let's  meet</span>
        <%= image_tag('top_den4.png') %>
        <!--<span style="color:dimgray; font-weight:bold;">出会おう</span>-->
      </div>
      <div class="top-form">
          <%= form_for(@user, url: login_path) do |f| %>
            <div class="centering"><%= f.text_field :name, placeholder: 'ユーザー名', style:"font-size: 25px" %></div>
            <div class="centering"><%= f.password_field :password , placeholder: 'パスワード', style:"font-size: 25px" %></div>
            <%= f.submit 'ログイン', class: 'login-btn', style: "background-color: #00BABD; color: white; height: 30%;" %><br>
          <% end %>
          <span style="font-weight: bold;">or</span><br>
          <%= link_to 'アカウント作成', new_user_path, class: 'register-btn', style: " color: white; height: 30%;" %>
      </div>
    </div>
  </div>
</div>
