<div class="top">
  <div class="main">
    <div class="aroundbrank">
      <h1 align="center" style="font-size: 64px;">Hello Idea</h1>
      <div class="mobile">
        <div align="center">
          <div class="login_pad">
            <% if !logged_in? %>
            <%= form_for(@user, url: login_path) do |f| %>
            <!--
            <%= f.label :email, 'メールアドレス'  %><br>
            <%= f.email_field :email, class: 'form-control', placeholder: 'メールアドレスを入力' %><br>
          -->
          <!--<%= f.label :name, 'ユーザー名'  %><br>-->
          <%= f.text_field :name, class: 'form-control', placeholder: 'ユーザー名を入力', style:"font-size: 40px" %>
          <!--<%= f.label :password, 'パスワード' %>-->
          <%= f.password_field :password , class: 'form-control', placeholder: 'パスワードを入力', style:"font-size: 40px" %><br>
          <%= f.submit 'ログイン', class: 'btn btn-default btn-lg top-btn', style: "background-color: #00BABD; color: white;" %>
          <% end %>
        </div>
        <h1 align="center">----------または----------</h1>
        <h2 align="center" style="color: red;"><b><I>10秒で完了！</I></b><br>
          <%= link_to 'アカウント作成', new_user_path, class: 'btn btn-warning btn-lg top-btn', style: " color: white;" %>
          <% else %>
            <%= image_tag('top.png') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
