<div class="main">
  <div class="container">
    <div class="random-words">
      <h1>ランダムワード</h1>
      <div class="random-tool">
        <%= @word1.word %>×<%= @word2.word %><br>
        <%= link_to "もう一度", words_path %>
      </div>
      <%= link_to "単語追加", new_word_path %>
      <div class="words-index">
        <% @words.each do |word| %>
        <%= word.id %>.
        <%= word.word %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
