<div class="main">
  <!--<div class="container">-->
    <div class="random-words">
      <h1>ランダムワード</h1>
      <!-- modal window explain random word -->
      <div>
        <input id="modal_open" type="radio" name="modal_switch" />
        <label for="modal_open"><i class="fa fa-question-circle" style="font-size:48px;color:#627295"></i></label>
        <input id="modal_close-overlay" type="radio" name="modal_switch" />
        <label for="modal_close-overlay">窓の外を触ると閉じるんだよっ</label>
        <input id="modal_close-button" type="radio" name="modal_switch" />
        <label for="modal_close-button"></label>
        <div class="modal_popUp">
        <div class="modal_popUp-content">
        <!-- CONTENT -->
        <div class="contents">
          <div class="mandal-img"><%= image_tag('random1.png') %></div>
          <div class="modal-contents">
            <h2>ランダムワードはアナタの発想力を刺激します！</h2>
            <h4>たくさんのユーザーが登録した単語からランダムに２単語を出力します。<br>関係性のないものが並んだ時に斬新なアイデアが思い浮かぶことがあります。<br>このランダムツールではその種を提供します</h4>
          </div>
        </div>
          <hr>
        <div class="contents">
          <div class="mandal-img"><%= image_tag('random2') %></div>
          <div class="modal-contents">
            <h2>使い方</h2>
            <p>1.「単語追加」から新しい単語を登録し、全ユーザーで共有できます</p>
            <p>2.「もう一度」を押すとランダムに２単語を再出力します</p>
          </div>
        </div>
        <!-- CONTENT END-->
        </div>
       </div>
      </div>
      <!-- end modal window -->
      <div class="random-tool">
        <%= @word1.word %>×<%= @word2.word %><br>

        <%= form_for(@sea, url: random_words_ideas_path) do |f| %>
          <%= f.hidden_field :word1, value: @word1.id %>
          <%= f.hidden_field :word2, value: @word2.id %>
          <%= link_to "もう一度", words_path %>
          <%= link_to "単語追加", new_word_path %>
          <%= f.text_area :body %>
          <%= f.submit(['アイデア投稿']) %>
        <% end %>

        <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
          <a style="cursor:pointer; color: red; font-size: 35px;">▼ この組み合わせから創出されたアイデア一覧</a>
        </div>

        <div id="open" style="display:none;clear:both;">
          <% @ideas.each do |idea| %>
            <%= idea.sea.body %>
            <%= idea.sea.user.name %>
            <br>
            <% end %>
        </div>
      </div>
      <div class="words-index">
        <% @words.each do |word| %>
          <%= word.word %>
          <% if current_user.admin? %>
            <%= link_to "delete", word_path(word), method: :delete, data: {confirm: "You sure?"} %>
          <% end %>　　　
        <% end %>
      </div>
      <div class="words-index2">
        <% @words.each do |word| %>
          <%= word.word %>
          <% if current_user.admin? %>
            <%= link_to "delete", word_path(word), method: :delete, data: {confirm: "You sure?"} %>
          <% end %>　　　
        <% end %>
      </div>
    </div>
  </div>
