<div class="main">
  <div class="container">
    <div class="random-words">
      <div class="word-form">
        <h1>単語追加</h1>
        <%= inform_validation_errror(@word) %>
        <%= form_for @word do |f| %>
        <%= f.label 'Word' %><br>
        <%= f.text_field :word %><br><br>
        <%= f.submit %>
        <% end %>
      </div>
      <div class="words-index">
        <% @words.each do |word| %>
          <%= word.word %>
          <% if current_user.admin? %>
            <%= link_to "delete", word_path(word), method: :delete, data: {confirm: "You sure?"} %>
          <% end %>　　　
        <% end %>
      </div>
    </div>
  </div>
</div>
