<div class="main">
  <div class="container">
    <div class="random-words">
      <div class="word-form">
        <h1>単語追加</h1>
        <%= inform_validation_errror(@word) %>
        <%= form_for @word do |f| %>
        <%= f.label 'Word' %><br>
        <%= f.text_field :word %><br>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
