<div class="main">
  <div class="mobile">
    <div class="login_pad">  <!--"login_pad"の名前を変える必要あり-->
    <div class="random-words">
      <div class="word-form">
        <h1 align="center">単語追加</h1>
        <%= inform_validation_errror(@word) %>
        <%= form_for @word do |f| %>
        <%= f.label 'Word' %><br>
        <%= f.text_field :word , placeholder: '単語を入力',style:"font-size: 40px"%><br><br>
        <%= f.submit class: 'btn btn-default btn-lg', style: "background-color: #00BABD; color: white; width: 500px; height: 80px; font-size: 40px;"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
