<div style="background-color: #006E6F;">
  <div class="pad">
    <div class="header">
      <div class="header-brand"><a href="/">Hello Idea</a></div>
      <div class="header-list">
        <!--<ul>-->
          <div class="inv"><%= link_to 'HelloIdeaとは', "/detail" %></div>
        <% if logged_in? %>
          <div class="inv"><%= link_to current_user.name, user_path(id: current_user) %></div>
          <div><%= link_to 'ニーズ', topics_path %></div>
          <div><a href="mandalarts/index">Mandalart</a></div>
          <% if current_user.admin? %><div><%= link_to 'ユーザーリスト', users_path %></div><% end %>
          <div><%= show_notice_link %></div>
          <div class="inv"><%= link_to 'アンケート', 'https://goo.gl/forms/QrNsbvBYoYa6WB7N2', style: "color: #ff9190;"%></div>
          <div class="inv"><%= link_to 'ログアウト', logout_path %></div>
        <% else %>
          <div class="inv"><%= link_to 'ログイン', login_path %></div>
          <div class="inv"><%= link_to '新規登録', new_user_path %></div>
        <% end %>
        <!--</ul>-->
      </div>
      <div class="full_menu">
        <div class="cp_fullscreenmenu">
	  <input class="toggle" type="checkbox" />
	  <div class="hamburger"><span></span></div>
	  <div class="menu">
	    <div>
	      <ul>
	        <li><%= link_to 'HelloIdeaとは', "/detail" %></li>
               <% if logged_in? %>
                <li><%= link_to current_user.name, user_path(id: current_user) %></li>
               <% if current_user.admin? %><li><%= link_to 'ユーザーリスト', users_path %></li><% end %>
                <li><%= link_to 'アンケート', 'https://goo.gl/forms/QrNsbvBYoYa6WB7N2', style: "color: #ff9190;"%></li>
                <li><%= link_to 'ログアウト', logout_path %></li>
               <% else %>
                <li><%= link_to 'ログイン', login_path %></li>
                <li><%= link_to '新規登録', new_user_path %></li>
               <% end %>
	      </ul>
	    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>" style="margin: -20px 0px 10px; padding: 15px 100px 15px; ">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>
