<% if logged_in? %>
<div style="background-color: #006E6F; width: 100%;">
  <div class="pad">
    <div class="smap_header">
      <div class="smap_header_list">
        <% if logged_in? %>
        <div><%= link_to 'SNS', topics_path %></div>
        <div><%= link_to 'ツール', tools_path %></div>
        <div><%= show_notice_link %></div>
        <% else %>
        <div><%= link_to 'HelloIdeaとは', "/detail" %></div>
        <div><%= link_to 'ログイン', login_path %></div>
        <div><%= link_to '新規登録', new_user_path %></div>-->
        <% end %>
      </div>
      <% if logged_in? %>
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input" style="padding-top: 45px;"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <div><%= link_to current_user.name, user_path(id: current_user) %></div>
          <div><%= link_to 'アンケート', 'https://goo.gl/forms/QrNsbvBYoYa6WB7N2', style: "color: #ff9190;"%></div>
          <div><%= link_to 'ログアウト', logout_path %></div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
<% end %>

<% flash.each do |type, msg| %>
<div class="alert alert-<%= type %>" style="margin: 0px 0px 10px; padding: 15px 100px 15px; ">
  <a class="close" data-dismiss="alert">×</a>
  <%= msg %>
</div>
<% end %>
