<!DOCTYPE html>
<html>
  <head>
    <title>QP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'トップ', root_path %>
    <% if logged_in? %>
      <%= link_to current_user.name, user_path(id: current_user) %> 
      <%= link_to 'ジャンル一覧', topics_path %>
      <%= link_to 'ユーザ一覧', users_path %>
      <%= link_to 'ログアウト', logout_path %>
    <% else %>
      <%= link_to 'ログイン', login_path %>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] if flash[:notice] %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
