<!DOCTYPE html>
<html>
  <head>
    <title>Hello Idea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to 'Hello Idea', root_path %>
      </div>
      <ul class="header-menus">
        <% if logged_in? %>
          <li><%= link_to current_user.name, user_path(id: current_user) %></li> 
          <li><%= link_to 'ジャンル一覧', topics_path %></li>
          <li><%= link_to 'ユーザ一覧', users_path %></li>
          <li><%= link_to 'ログアウト', logout_path %></li>
        <% else %>
          <li><%= link_to 'ログイン', login_path %></li>
          <li><%= link_to '新規登録', new_user_path %></li>
        <% end %>
      </ul>
    </header>
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <a class="close" data-dismiss="alert">×</a>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
